EmergentPredictiveCoding/models/patterns_rev/seeded_mnist/
EmergentPredictiveCoding/models/patterns_rev/mscoco_deepgaze3/
EmergentPredictiveCoding/models/
.idea/
__pycache__/
datasets/
venv/
EmergentPredictiveCoding/Results/
wandb/
logs/
outputlogs.*
errorlogs.*
tmp*/
Results/
.DS_Store
